.priorities {
  width: 34.5%;
  min-width: 330px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 2px;
}
@media (max-width: 1100px) {
  .priorities {
    width: 100%;
  }
}
.title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.title span {
  font-weight: 500;
}
.container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container > a {
  width: 100%;
  min-width: 310px;
  height: 35px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.odd {
  background-color: white;
}
.pair {
  background-color: rgb(210, 210, 210);
}
.info {
  display: flex;
  align-items: flex-start;
  align-items: center;
}
.votes {
  width: 25px;
  font-size: 16px;
  font-weight: 600;
}
.tool {
  padding: 2px 4px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: white;
  color: rgb(130, 130, 130);
  border: 1px solid rgb(210, 210, 210);
  font-size: 12px;
  text-transform: uppercase;
}
.name {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.bug {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  border: 1px solid rgb(242, 60, 78);
  background-color: white;
  color: rgb(242, 60, 78);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  border: 1px solid rgb(7, 166, 80);
  background-color: white;
  color: rgb(7, 166, 80);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
